.sidenav {
    position:relative;
    list-style-type:none;
    top:100px;
    margin:0px 0px 0px 50px;
    padding:0px;
  }

  .sidenav li {
    padding:10px 0px;
  }
.link {
    text-decoration:none;
    color:white
}

@media only screen and (max-width:800px){

    .sidenav li {
        padding-left:0px
    }
}