.imgcontainer {
    width:200px;
    height:200px;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    border: 8px solid rgb(52, 50, 50);
    z-index:100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.h2 {
    padding: 0 1rem;
    text-align: center;
    font-size: 1.3em;
    color: white;
    width:50%;
    z-index:1000;
    transition: all .3s ease-in-out;
}

.overlay {
    background-color: black;
    height:200px;
    width:200px;
    position: absolute;
    border-radius: 100%;
    opacity: 25%;
    transition: all .3s ease-in-out;
    z-index:100
}

.img {
    object-fit:inherit;
    height:200px;
    width:200px;
    position: absolute;
    z-index:1;
    border-radius: 100%;
}

.meal a {
    text-decoration: none
}

.meal .actions {
    text-align: center;
}

.button {
    align-items: flex-end;
}

.imgcontainer:hover .overlay {
    opacity:0%;
}

.imgcontainer:hover  {
    scale:1.02;
    cursor: pointer;
}

.imgcontainer:active {
    scale: 0.93
}